<div id="<%= dom_id myapplication %>">
  <p>
    <strong>Title:</strong>
    <%= myapplication.title %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= myapplication.note %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= myapplication.detail %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= myapplication.status %>
  </p>

</div>
